body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

button{
  all: unset;
}

textarea{
  all: unset;
  font-family: monospace;
}

#startMenu{
  width: 100%;
  height: 100%;
  justify-content: center;
  position: fixed;
  margin: auto;
  background-color: white;
}

#menuCont{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#playButton, #resetButton{
  border: 1px solid black;
  padding: 3px 12px;
  border-radius: 3px;
  background-color: rgb(26, 151, 26);
  font-weight: bolder;
}

#playButton:hover, #resetButton:hover{
  background-color: green;
  cursor: pointer;
}

#playButton:active, #resetButton:active{
  background-color: red;
}

#gameCont{
  margin-top: 5vh;
}

.square{
  background-color: white;
  height: 95%;
  width: 95%;
}

.right{
  margin-left: auto;
}

.bottom{
  margin-top: auto;
}

.midcol{
  margin-left: auto;
  margin-right: auto;
}

.midrow{
  margin-top: auto;
  margin-bottom: auto;
}

#gameboard{
  background-color: black;
  margin: auto;
  height: 300px;
  width: 300px;
  grid-area: gameboard;
  display: grid;
  grid-template-areas: 
    'a1 a2 a3'
    'b1 b2 b3'
    'c1 c2 c3'
    ;
}

.drawXO{
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
}

#winnerContainer{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#winnerMessage{
  resize: none;
  text-align: center;
  font-size: 30px;
  border: none;
}

.flex{
  display: flex;
}

.hidden{
  display: none;
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
}

.profilelink {
  padding: 15px 50px;
  height: 100px;
  width: 100px;
  border-radius: 100%;
}

.profilelink:hover {
  transition: .25s;
  scale: 1.05;
}